body {	
	background:url('images/HD-EVERY-NIGHT.jpg');
	font-size: 24px;
	font-family: Arial, sans-serif;
}

h1 {
	font-family: 'Astloch', cursive;
	font-weight: 700;
	font-size: 48px;
}

.table-of-contents {
	position: fixed;
	width: 140px;
	top: 45px;
	left: 50px;
	background-color: rgba(112,102,150,.4);
	padding: 8px;
}
.table-of-contents p {
	margin-top: -5px;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	line-height: 24px;
}
a:hover {
	color: black;
}

.container {
	width: 800px;
	height: 800px;
	margin: 0 auto;
}


