.nav {
	color: white;
	font-size: 30px;
	text-decoration: none;
	background: rgba(116,102,205,0.6);
	position: fixed;
	width:275px;
	top: 0;
	right:0;
	padding: 0 10px;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	font-weight: normal;
	line-height: normal;
	font-style: normal;
}
.nav a:link {
	text-decoration: none;
}
.nav a:visited {
	text-decoration: none;
	color: white;
}
.nav a:hover {
	color: pink;
}
img {
	position: fixed;
	right: 0;
	bottom: 0;
}

