body {
	background: gray;
	position: relative;
}
h1, h2 {
	color: pink;
	font-size: 36px;
	position: relative;
	left: 100px;
}

h3 {
	position: relative;
	left: 100px;
	width: 100px;
}

h3:hover {
	cursor: pointer;
}

h4 {
	display: inline-block;
	position: relative;
	left:100px;
}

#container {
	width: 100%;
	margin: 0 auto;
}
.down {
	position: relative;
	top:500px;
}

.jem {
	position: absolute;
	top: -300px;
	right: -50px;
}
.jem img {
	height: 1200px;
}
.line {
	width: 1050px;
	margin: 0 auto;
	height: 2px;
	background: black;

}
/* Media Queries*/
/*@media screen and (max-width: 1024px) {
  body { background: red; }
}

@media screen and (max-width: 768px) {
  body { background: blue; }
}

@media screen and (max-width: 600px) {
  body { background: green; }
  h1  { display: block; width: 100%; margin: 50px 0 50px 0; font-size: 12px;}

}

@media screen and (max-width: 480px) {
  body { background: pink;}
  div { display: block; width: 100%; margin: 50px 0 50px 0;}
  h1 {font-size: 48px;}

}*/