body {
	font-family: Arial;
/*	background: rgba(255,0,230,0.3);*/
}
	
p {
	line-height: 2.6em;
}
a {
	text-decoration: none;
	color: black;
	font-size: 30px;
}
a:hover {
	color: magenta;
}

.container {
    width: 900px;
    margin: 170px auto;
    text-align: center;
}
.bigCircle {
	width: 600px;
	height: 600px;
	border-radius: 50%;
/*	border: 1px black solid;*/
	position: fixed;
	background: rgba(131,224,224,0.48);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}